body {
  font-family: sans-serif;
  margin: 0;
}
.main-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 107vh;
  text-align: center;
}
.heading-container input {
  padding: 1vh;
  outline: none;
  width: 75vh;
  border: none;
  border-radius: 1vh;
}
.heading-container {
  background-color: aliceblue;
  padding: 7px 0 14px 0;
  border-radius: 1vh;
  margin: 0 0 7px 0;
}
ul {
  padding: 0;
  margin: 0;
  background-color: aliceblue;
  padding: 7px 0 7px 0;
  border-radius: 1vh;
}
ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 0.5vh;
  width: 77vh;
  background-color: #fff;
  list-style: none;
  box-sizing: border-box;
  border-radius: 1vh;
  font-size: 2vh;
}
ul li input {
  width: 67vh;
  border: none;
  outline: none;
  padding: 0.5vh;
}
ul li i {
  cursor: pointer;
}
